<div class="cw-footer__decoration"></div>
<footer class="cw-footer">
  <div class="cw-footer__info" mailto>
    <span>Made with 😎 &nbsp; by &nbsp;</span>
    <a class="cw-footer__link" href="mailto:p.prochnicki.defy@gmail"
      >Paweł Próchnicki</a
    >
  </div>
  <div class="cw-footer__info">
    <span>Weather API: &nbsp;</span>
    <a class="cw-footer__link" href="https://openweathermap.org/"
      >OpenWeatherMap</a
    >
  </div>
  <div class="cw-footer__info">
    <span>Copyright © 2024. All rights reserved.</span>
  </div>
</footer>
