@import "../../../styles/variables";
@import "../../../styles/mixins";

:host {
  @include d-f-column;
  @include d-f-center;

  margin: 2rem 2rem;
  padding-top: 1rem;
  width: 80%;
}

.cw-forecast-container {
  @include d-f-row;
  @include d-f-center;

  flex-wrap: wrap;
}
