@import "../styles/variables";
@import "../styles/mixins";

:host {
  @include d-f-column;
  @include d-f-center;

  padding: $layout-separation;

  @media screen and (max-width: $breakpoint-mobile) {
    padding: 0;
  }
}

.cw-main {
  @include width-layout-main;
  @include set-min-height-main-responsive;

  overflow: scroll;
}
